<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
.hidden {
	display: none;
}
body {
	margin: 0;

}
</style>

<div class="hidden" style="height: 100%; text-align: center; background-color: black;">
  <!-- <center> -->
    <img id="gohonjon" style="height: 99.5%" src="Sadoshiken_nichiken.jpg" class='fullscreen'>
  <!-- </center> -->
</div>
<div class="maindiv">
<h3>"Nam Myoho Renge Kyo"</h3>
<h2>Lets get victorious together</h2>

	<p>Please enter the number of minutes:</p>
	<input id='duration' size="30" type="number">
	<br />
		<input type="button" class='playbutton' value="Start Chanting">
		<input type="button" class='pausebutton' value="Pause">
	<br />
	<br />	
	<audio src="buddha.mp3" type="audio/mpeg" id='music' controls>
	</audio>
</div>

<script type='text/javascript'>
function toggleFullScreen() {
  if (!document.fullscreenElement &&    // alternative standard method
      !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
    if (document.documentElement.requestFullscreen) {
      document.documentElement.requestFullscreen();
    } else if (document.documentElement.msRequestFullscreen) {
      document.documentElement.msRequestFullscreen();
    } else if (document.documentElement.mozRequestFullScreen) {
      document.documentElement.mozRequestFullScreen();
    } else if (document.documentElement.webkitRequestFullscreen) {
      document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
    }
  }
}

function playMusic() {
		// console.log("Its clicked");
		var music_file = $('#music')[0];
		console.log($('#duration').val());
		var position = (music_file.duration - $('#duration').val()*60)
		music_file.currentTime = position
		music_file.play();
		$('.hidden').toggle();
		
		$('.maindiv').toggle();		
		toggleFullScreen();
	}

$('.playbutton').on('click',playMusic);
</script>

<script type="text/javascript">
	$('.pausebutton').on('click',function() {
		var music_file = $('#music')[0];
		music_file.pause();
	});
</script>

<script type="text/javascript">
	$(document).keyup(function(e){
		if(e.keyCode == 27){
			console.log("Esc Key pressed");
			$('.hidden').toggle();
			var music_file = $('#music')[0];
			music_file.pause();
			$('.maindiv').toggle();
		}
	});
</script>
