<h2>Bowling Score</h2>



<form method='post'	action='/throws'>
	<label>Pins Down</label><br>
	<input name="throw[pins_down]" size="30" type="number">

	<br />
	<% if @can_throw %>
	<input type="submit" value="Submit Pins Down">
	<% end %>
</form>
<br />

<label>Notices:</label>
<% if @can_throw %>
<p id="notice"><%= notice %></p>
<% else %>
<% @throws.destroy_all %>
<p>Game Finished! To start a new game press the new Game Button</p>	
<%end %>

<br />

<form method='post' action='/throws'>
	<input name="_method" type="hidden" value="delete">
	<input type='submit' value="Start New Game">
</form>

<br />

<p><b>Score Card<br />----------------</p>
<table>
	<tr>
		<th>Frame 1</th>
		<th>Frame 2</th>
		<th>Frame 3</th>
		<th>Frame 4</th>
		<th>Frame 5</th>
		<th>Frame 6</th>
		<th>Frame 7</th>
		<th>Frame 8</th>
		<th>Frame 9</th>
		<th>Frame 10</th>
	</tr>
	<tr>
<% @frames.each do |frame| %>
	<td><%=frame%></td>	
<% end %>
	</tr>
</table>	